<md-sidenav class="side-nav" md-is-locked-open="$mdMedia('gt-md')">
    <md-content prevent-scroll>
        <md-list-item ng-repeat="article in sideNavCtrl.articles">
            <div layout="column" ng-click="sideNavCtrl.articleClicked(article)">
                <img ng-src="assets/images/{{article.image}}" flex="100" class="md-card-image">
                <div style="text-align: center; color:whitesmoke" layout="column" layout-align="center center">
                    <p>{{article.title}}</p>
                </div>
            </div>
        </md-list-item>
    </md-content>
</md-sidenav>