<div class="home-container">
    <ff-top-menu title="mainCtrl.title"></ff-top-menu>
    <div style="height:100%">
        <div class="content-block parallax-window banner"></div>
        <div class="content-block ifrit-block" layout="row" layout-align="center center">
            <div layout="column" flex-offset="15" flex="15">
                <img src="assets/images/logo.png" layout-align="center center" class="large-logo">
            </div>
            <div layout="column" flex-offset="15" flex="50">
                <div class="fc-title">Sodium Chloride
                </div>
                <div class="fc-text">- Balmung</div>
                <div class="fc-text">Welcome to the NaCl website. We are currently in development. Please look forward to our new features!</div>
            </div>
        </div>
        <div id="content1" class="parallax-window content-block"></div>
        <div class="content-block garuda-block" layout="column" layout-align="center center">
            <div layout="column" layout-align="center center">
                <div class="fc-title" layout="row">Newest Articles
                    <div class="fc-text"></div>
                </div>
                <div layout="row" layout-align="center center">
                    <div ng-repeat="article in homeCtrl.articles"
                         style="overflow:hidden; max-height:700px; max-width:700px" layout-padding>
                        <ff-article menu="true" show-nav="false" article-id="article.articleId"></ff-article>
                    </div>
                </div>
                <div style="font-weight:900; color:white; font-size: 40px;">
                    <md-button class="md-button md-raised md-accent" ng-click="homeCtrl.viewArticles();">
                        View All Articles
                    </md-button>
                </div>
            </div>
        </div>
        <div id="content2" class="parallax-window content-block"></div>
        <div class="content-block bismarck-block" layout="column" layout-align="center center">
            <div style="font-weight:900; color:white; font-size: 40px;">Recent Streamers
            </div>
            <div layout="row" layout-align="center center">
                <ff-stream ng-repeat="stream in homeCtrl.streams" layout-padding style="height:500px; width:500px;"
                           preview="true" streamer="stream.streamer"></ff-stream>
            </div>
            <div style="font-weight:900; color:white; font-size: 40px;">
                <md-button class="md-button md-raised md-accent" ng-click="homeCtrl.viewStreamers();">
                    View All Streamers
                </md-button>
            </div>
        </div>
        <div id="content3" class="parallax-window content-block"></div>

        <md-toolbar layout="column" layout-align="center end" style="font-size:12px;">
            <div>Developed by Celsius Serva of Balmung</div>
            <div>Please send suggestions, feedback or bug reports to celsius.serva@gmail.com</div>
        </md-toolbar>
    </div>
</div>