<md-toolbar style="position:relative; overflow:hidden" ng-style="{ 'background-color': topMenuCtrl.color }">
    <div class="md-toolbar-tools">
        <div ng-click="topMenuCtrl.titleClicked()" layout="row" style="min-width:230px;" >
            <img src="assets/images/logo.png" class="logo" >

            <h2 style="cursor: pointer;" layout-align="column">
                <span style="line-height:64px;">{{topMenuCtrl.title}}</span>
            </h2>
        </div>
        <span flex="5"></span>
        <md-button aria-label="Home" class="menu-button"
                   ng-click="topMenuCtrl.redirect('/home')">
            Home
        </md-button>
        <md-button aria-label="Articles" class="menu-button"
                   ng-click="topMenuCtrl.redirect('/articles')">
            Articles
        </md-button>
        <md-button aria-label="Streamers" class="menu-button" ng-disabled="false"
                   ng-click="topMenuCtrl.redirect('/streamers')">
            Streamers
        </md-button>
        <md-button aria-label="Guides" class="menu-button" ng-disabled="true"
                   ng-click="">
            Guides
        </md-button>
        <md-button aria-label="Highscores" class="menu-button" ng-disabled="true"
                   ng-click="">
            Highscores
        </md-button>
    </div>
</md-toolbar>