<md-toolbar style="position:relative;">
    <div class="md-toolbar-tools">
        <div ng-click="topMenuCtrl.titleClicked()" layout="row" >
            <img src="assets/images/logo.png" class="logo" >

            <h2 style="cursor: pointer;" layout-align="column">
                <span style="line-height:64px;">{{topMenuCtrl.title}}</span>
            </h2>
        </div>
        <span flex="5"></span>
        <md-button aria-label="Home" class="menu-button"
                   ng-click="topMenuCtrl.homeClicked()">
            Home
        </md-button>
        <md-button aria-label="Highscores" class="menu-button" ng-disabled="true"
                   ng-click="topMenuCtrl.highscoresClicked()">
            Articles
        </md-button>
        <md-button aria-label="Highscores" class="menu-button" ng-disabled="true"
                   ng-click="topMenuCtrl.highscoresClicked()">
            Streamers
        </md-button>
        <md-button aria-label="Highscores" class="menu-button" ng-disabled="true"
                   ng-click="topMenuCtrl.highscoresClicked()">
            Guides
        </md-button>
        <md-button aria-label="Highscores" class="menu-button" ng-disabled="true"
                   ng-click="topMenuCtrl.highscoresClicked()">
            Highscores
        </md-button>
    </div>
</md-toolbar>